/*listado*/
* {
    background: #fde6d7;
}

#botonCrear{
    background-color: #cb556f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#botonCrear:hover{
    background:linear-gradient(transparent, #cb556f);
    color: #000;
    border:none;
}

#botonEditar{
    background-color: #ba81ef;
    color: #fff;
}

#botonEliminar{
    background-color: #efa267;
    color: #fff;
}

thead{
    font-weight: bold;
}

/*formulario*/

.formProductos{
    padding: 20px;
    background-color: #efa267;
    margin: 10%;
}

.inputForm{
    display: flex;
    width: 50%;
    margin: 15px;
}

#botonCancelar{
    background-color: #ba81ef;
    width: 250px;
}

#botonActualizar{
    background-color: #ba81ef;
}