@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*formulario*/
.form-register {
  width: 400px;
  background: #F2F2F3;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #515151;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #F2F2F3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 2px solid #2CAAEC;
  font-size: 18px;
  color: #515151;
  outline: none;
}

.controls:focus {
  background-color: #d9d9d9;
  border: none;
}

.form-register .botons {
  width: 100%;
  background: #59ACD8;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*listado*/
.producto{
  text-align: center;
  margin: 50px 0 20px 0;
}
table {
  border: 2px solid;
}

thead {
  font-weight: bold;
  text-align: center;
}

tbody {
  text-align: center;
}

#botonCrear {
  background-color: #2CAAEC;
  color: #fff;
  height: 64px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

#botonCrear:hover {
  box-shadow: 7px 13px 37px #000;
  outline: none;
  border: none;
}

#botonEliminar {
  background: #fff;
  color: red;
  font-weight: bold;
  border: 1px solid #59ACD8;
  border-radius: 60px;
  width: 100px;
  margin: 5px;
}

#botonEliminar:hover {
  background: linear-gradient(#000, red);
  color: #fff;
}


#botonEditar {
  background: #fff;
  color: #4BAF33;
  font-weight: bold;
  border: 1px solid #59ACD8;
  border-radius: 60px;
  width: 100px;
  margin: 5px;
}

#botonEditar:hover {
  background: linear-gradient(#000, #4BAF33);
  color: #F2EFEB;
}

/*navbar*/
.navegacion {
  border-bottom: 3px solid #2CAAEC;
  background-color: #ffffff;
  list-style: none;
  color: #000;
}

.navItem {
  background-color: #AFDBF2;
  margin: 0 5px;
  border-radius: 30px;
  color: #fff;
  list-style: none;
}

.navItem:hover{
  background-color: #E3EAEB;
}

.presentacion img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: 22px 31px 0px -3px #AFDBF2;
}

.presentacion img:hover {
  box-shadow: 30px -31px 0px -3px #AFDBF2;
  transition-duration: 1s;
}

#infor,
#vision,
#mision {
  border: none;
}

#infor:hover,
#vision:hover,
#mision:hover {
  border-bottom: 4px solid #2CAAEC;
  font-weight: bold;
}

/*galeria*/

.galeria {
  display: flex;
  width: 90%;
  height: 430px;
  margin-top: 50px;
  margin-left: 6%;
}

.galeria img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .9;
  transition: .5;
}

.galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  transition-duration: 1s;
}

.titulo {
  background-color: #2CAAEC;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 20px;
}

.compras {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

.compras .carrito {
  border-radius: 30px;
  background-color: #2CAAEC;
  border: none;
  width: 160px;
  padding: 10px;
}

.comprar{
  background-color: #FFBD6B;
  border: 2px solid #D77700 ;
  width: 160px;
  padding: 10px;
  border-radius: 30px;
}

.comprar:hover, .carrito:hover{
  background-color: #fff;
  border: 1px solid #2CAAEC;
  color: #515151;
  font-weight: bold;
}

.precio{
  text-decoration: line-through;
}

.descuento{
  color: #F23F3F;
  font-weight: bold;
  font-size: 20px;
}

/*recetas*/

.botonReceta{
  border-radius: 50%;
  font-size: 15px;
  margin: 20px 5px 0px 5px;
  border:1px solid #2CAAEC;
}
 /*servicios*/
 .pago{
  font-size: 40px;
  color: #2CAAEC;
  font-weight: bold;
 }

 .domicilio{
  padding: 25px 20px 10px 20px;
  margin-bottom: 50px;
  background-color: #F9F9F9;
  font-size: 20px;
 }

 .domicilio:hover{
  box-shadow: 18px 24px 0px 1px #AFDBF2;
 }

 .domicilio h4{
  font-size: 30px;
  color: #2CAAEC;
 }

 /*footer*/
 
 .pie-pagina{
  width: 100%;
  background-color: #E3EAEB ;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 200px;
  height: 150px;
  margin-top: 20px;
}
.pie-pagina .grupo-1 .box h2{
  color: #000000;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}
.pie-pagina .grupo-1 .box a{
  color: #515151;
  text-decoration: none;
}
.pie-pagina .grupo-1 .box a:hover{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #2CAAEC;
  margin-right: 10px;
  background-color: #f5f5f5;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 10%;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}