* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*formulario*/
  .form-register {
    width: 400px;
    background: linear-gradient(#f4d8e4, #D56296) ;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #515151 ;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-family: 'calibri';
    font-size: 18px;
    color: #515151;
    outline: none;
  }

  .controls:focus {
    box-shadow: -1px 1px 15px 3px #980044;
  }
  
  .form-register .botons {
    width: 100%;
    background: #59ACD8;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/*listado*/
table {
    border: 10px solid;
}

thead{
    font-weight: bold;
    text-align: center;
}

tbody{
    text-align: center;
}

#botonCrear{
    background-color: #EFAD64;
    color: #fff;
    height: 64px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

#botonCrear:hover{
    box-shadow: 7px 13px 37px #000;
    outline: none;
    border: none;
}

#botonEliminar{
    background: #F2EFEB;
    color:red;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
#botonEliminar:hover{
    background:linear-gradient(#000,red);
    color:#F2EFEB;
}


#botonEditar{
    background:#F2EFEB;
    color:#4BAF33;
    font-weight: bold;
    border: none;
}
#botonEditar:hover{
background:linear-gradient(#000,#4BAF33);
color:#F2EFEB;
}

/*navbar*/
.navegacion{
  border-bottom: 3px solid #154964 ;
  background-color: #ffffff;
  list-style: none;
  color: #000;
}

.navItem{
  background-color: #AFDBF2 ;
  margin: 0 5px;
  border-radius: 30px;
  color: #fff;
  list-style: none;
}

.presentacion img{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: 22px 31px 0px -3px  #AFDBF2;
}

.presentacion img:hover{
  box-shadow: 30px -31px 0px -3px  #AFDBF2;
  transition-duration: 1s;
}

#infor, #vision, #mision{
  border: none;
}

#infor:hover, #vision:hover, #mision:hover{
  border-bottom: 4px solid #154964 ;
  font-weight: bold;
}

/*galeria*/

.galeria{
  display: flex;
  width:90%;
  height: 430px;
  margin-top: 50px;
  margin-left: 6%;
}

.galeria img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .9;
  transition: .5;
}
.galeria img:hover{
  cursor:crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  transition-duration: 1s;
}